@namespace AntSK.Components
@using Microsoft.AspNetCore.Authorization
@inherits AntDomComponentBase

<Space Class="@ClassMapper.Class" Size="@("26")">
    <button class="github_btn" onclick="window.open('https://github.com/AIDotNet/AntSK')"></button>
    <SpaceItem Style="margin-left:20px;">
        <AvatarDropdown Name="@context.Identity.Name"
                        Avatar="@_currentUser.Avatar"
                        MenuItems="@AvatarMenuItems"
                        OnItemSelected="HandleSelectUser" />

    </SpaceItem>
</Space>

<style>
    .github_btn
    {
        cursor:pointer;
        border:none;
        background-image: url('http://img.shields.io/github/stars/aidotnet/antsk?style=social');
        width:88px;
        height:20px;
    }
</style>