@namespace AntSK.Pages.Kms
@using AntSK.Domain.Repositories
@using System.ComponentModel.DataAnnotations
@page "/Kms/Detail/{KmsID}"

<div>
    <PageContainer Title="知识库文档">
        <ChildContent>
            <div class="standardList">
                <Card Class="listCard"
                      Title="知识库文档"
                      Style="margin-top: 24px;"
                      BodyStyle="padding: 0 32px 40px 32px">

                    <Extra>
                        <Dropdown Style="position: absolute; right: 20px; margin-bottom: 8px;">
                            <Overlay>
                                <Menu>
                                    @( _fileUpload( () =>FileShowModal()))
                                    @(_urlUpload(() => UrlShowModal()))
                                </Menu>
                            </Overlay>
                            <ChildContent>
                                <Button>导入 <Icon Type="down" /></Button>
                            </ChildContent>
                        </Dropdown>
                        <div class="extraContent" style="margin-right:100px;">
                            <Search Class="extraContentSearch" Placeholder="搜索文档" @bind-Value="_model.Id" />
                         </div>
                  
                     </Extra>
                    <ChildContent >
                        <AntList TItem="KmsDetails" 
                                  DataSource="_data"
                                  ItemLayout="ListItemLayout.Horizontal">
                                <ListItem Actions="_actions">
                                <ListItemMeta Description="@context.Id">
                                    <TitleTemplate>
                                        <div >文件ID</div>
                                    </TitleTemplate>
                                </ListItemMeta>
                                <ListItemMeta Description="@context.Type">
                                    <TitleTemplate>
                                        <div>文件类型</div>
                                    </TitleTemplate>
                                </ListItemMeta>
                                @if(@context.Type=="file")
                                {
                                <ListItemMeta Avatar="" Description="@context.FileName">
                                    <TitleTemplate>
                                        <a >文件名称</a>
                                    </TitleTemplate>
                                </ListItemMeta>
                                }
                                else
                                {
                                    <ListItemMeta Avatar="" Description="@context.Url">
                                        <TitleTemplate>
                                            <a href="@context.Url" target="_blank">Url</a>
                                        </TitleTemplate>
                                    </ListItemMeta>
                                }
                              
                                <ListItemMeta Avatar="" Description="@context.DataCount.ToString()">
                                    <TitleTemplate>
                                        <a >文件数量</a>
                                    </TitleTemplate>
                                </ListItemMeta>
                                <div class="listContent">
                                    <div class="listContentItem">
                                        <span>创建时间</span>
                                        <p>@context.CreateTime.ToString("yyyy-MM-dd HH:mm")</p>
                                    </div>
                                </div>
                            </ListItem>
                        </AntList>
                    </ChildContent>
                </Card>
            </div>
        </ChildContent>
    </PageContainer>
</div>

<Modal Title="链接读取"
       Visible="@_urlVisible"
       OnOk="@UrlHandleOk"
       OnCancel="@UrlHandleCancel"
       ConfirmLoading="@_urlConfirmLoading">
    <Form Model="@urlModel"
          LabelColSpan="8"
          WrapperColSpan="16"
          @ref="@_urlForm">
        <FormItem Label="URL地址">
            <Input @bind-Value="@context.Url" />
        </FormItem>
    </Form>
</Modal>

<Modal Title="文件导入"
       Visible="@_fileVisible"
       OnOk="@FileHandleOk"
       OnCancel="@FileHandleCancel"
       ConfirmLoading="@_fileConfirmLoading">
    <Upload Action="@("api/File/UploadFile")"
            Name="file"
            Drag
            Multiple
             OnSingleCompleted="OnSingleCompleted">
         <p class="ant-upload-drag-icon">
             <Icon Type="inbox" />
         </p>
         <p class="ant-upload-text">单击或拖动文件到此区域进行上传</p>
         <p class="ant-upload-hint">
             支持word、pdf、excel、ppt等文件。
         </p>
     </Upload>
</Modal>


@code {

    RenderFragment _fileUpload(Action clickAction) =>@<MenuItem>
            <a target="_blank" rel="noopener noreferrer" @onclick="@clickAction">
                文件导入
            </a>
        </MenuItem>;

    RenderFragment _urlUpload(Action clickAction) =>@<MenuItem>
            <a target="_blank" rel="noopener noreferrer" @onclick="@clickAction">
                链接读取
            </a>
        </MenuItem>;

    private static readonly RenderFragment Detail = @<a key="detail">详情</a>;
    private static readonly RenderFragment Delete = @<a key="edit">删除</a>;

    private readonly RenderFragment[] _actions =
        {
            Detail,
            Delete
        };
}
