@namespace AntSK.Pages
@page "/"
@using AntSK.Services.Auth
@using AntSK.Components
@inherits AuthComponentBase

<GridContent>
    <Row Type="flex" Gutter="24">
        <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
            <div @onclick="NavToApp" style=" cursor: pointer;">
                <ChartCard Title="应用数量"
                           Total="@appCount"
                           Icon="wechat"
                           ContentHeight="46">
                    <ChildContent>
                        <Tag Color="@PresetColor.Yellow.ToString()">会话应用：@chatAppCount</Tag>
                            <Tag Color="@PresetColor.Green.ToString()">知识库应用：@kmsAppCount</Tag>
                        </ChildContent>
                        <Footer>
                        </Footer>
                    </ChartCard>
                </div>
            </AntDesign.Col>
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <div @onclick="NavToKms" style=" cursor: pointer;">
                    <ChartCard Title="知识库数量"
                               Total="@kmsCount"
                               Icon="database"
                               ContentHeight="46">
                        <ChildContent>

                        </ChildContent>
                        <Footer>
                        </Footer>
                    </ChartCard>
                </div>
            </AntDesign.Col>
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <div @onclick="NavToKms" style=" cursor: pointer;">
                    <ChartCard Title="文档数量"
                               Total="@filesCount"
                               Icon="file"
                               ContentHeight="46">
                        <ChildContent>
                            <Tag Color="@PresetColor.Yellow.ToString()">文档：@fileCount</Tag>
                            <Tag Color="@PresetColor.Green.ToString()">链接：@urlCount</Tag>
                            <Tag Color="@PresetColor.Orange.ToString()">文本：@textCount</Tag>
                        </ChildContent>
                        <Footer>
                        </Footer>
                    </ChartCard>
                </div>
            </AntDesign.Col>
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <div @onclick="NavToAIModel" style=" cursor: pointer;">
                    <ChartCard Title="模型数量"
                               Total="@aiModelCount"
                               Icon="robot"
                               ContentHeight="46">
                        <ChildContent>
                            <Tag Color="@PresetColor.Yellow.ToString()">会话模型：@chatAIModelCount</Tag>
                            <Tag Color="@PresetColor.Green.ToString()">向量模型：@embeddingAIModelCount</Tag>
                        </ChildContent>
                        <Footer>
                        </Footer>
                    </ChartCard>
                </div>
            </AntDesign.Col>
        </Row>
        <Divider><Title Level="3">功能特性</Title></Divider>
    <Space Size=@(("10", "10" )) Wrap Align="start" Style="padding:10px">
        <SpaceItem>
            <Card Bordered="true" Title=@("👉🏻商业授权") Hoverable="true" Style="height:260px;width:300px">
                <Body>
                    <Text>● AntSKPro为商业版 <a href="https://gw.antsk.cn" target="_blank">访问官网</a></Text>
                    <br>
                    <Text>● 开源版本请参见：</Text>
                    <a href="https://github.com/AIDotNet/AntSK" target="_blank">AntSK开源版</a>
                    <br>
                    <Text>● 未获取商业授权，禁止商业使用</Text>
                    <br>
                    <Text>● 如需商业授权，请联系微信：</Text>
                    <b style="color:#1890ff">13469996907</b>
                    <br>
                </Body>
            </Card>
        </SpaceItem>
        <SpaceItem>
            <Card Bordered="true" Title=@("🌟AntSKPro 一体机") Hoverable="true" Style="height:260px;width:300px">
                <Body>
                    <Text>
                        ● 海量会话+向量+重排离线模型
                    </Text>
                    <br>
                    <Text>● 装机直发、开箱即用</Text>
                    <a href="https://antsk.cn/archives/wei-ming-ming-wen-zhang" target="_blank">更多详情</a>
                    <br>
                    <Text>
                        ● 保姆式指导
                    </Text>
                    <br>
                    <Text>
                        ● 整机硬件质保三年
                    </Text>
                    <br>
                </Body>
            </Card>
        </SpaceItem>
        <SpaceItem>
            <Card Bordered="true" Title=@("🍬语义内核") Hoverable="true" Style="height:260px;width:300px">
                <Body>
                    <Text>● 采用领先的自然语言处理技术</Text>
                    <br>
                    <Text>● 精准理解、处理和响应复杂的语义查询</Text>
                    <br>
                    <Text>● 为用户提供精准的信息检索和推荐服务</Text>
                    <br>
                </Body>
            </Card>
        </SpaceItem>
        <SpaceItem>
            <Card Bordered="true" Title=@("🏁知识库") Hoverable="true" Style="height:260px;width:300px">
                <Body>
                    <Text>● 支持导入各种格式的文档（如Word, PDF, Excel, Txt, Json, PPT, Png等）至知识库和知识图谱</Text>
                    <br>
                    <Text>● 可进行知识库和知识图谱文档的搜索问答</Text>
                    <br>
                </Body>
            </Card>
        </SpaceItem>
        <SpaceItem>
            <Card Bordered="true" Title=@("🌈GPTs 生成") Hoverable="true" Style="height:260px;width:300px">
                <Body>
                    <Text>● 支持创建个性化的GPTs</Text>
                    <br>
                    <Text>● 构建您自己的GPTs</Text>
                    <br>
                    <Text>● 尽情发挥您的想象力</Text>
                    <br>
                </Body>
            </Card>
        </SpaceItem>
        <SpaceItem>
            <Card Bordered="true" Title=@("🎁插件生态") Hoverable="true" Style="height:260px;width:300px">
                <Body>
                    <Text>● 开放API插件系统，允许第三方开发者或服务商轻松集成接口至AntSK，持续增强应用功能</Text>
                    <br>
                    <Text>● 开放函数插件系统，标准格式的函数代码及dll文件可集成至AntSK，持续增强应用能力</Text>
                    <br>
                    <Text>● 支持二次开发Function</Text>
                    <br>
                </Body>
            </Card>
        </SpaceItem>
        <SpaceItem>
            <Card Bordered="true" Title=@("📱模型集成与管理") Hoverable="true" Style="height:260px;width:300px">
                <Body>
                    <Text>● 适配与管理来自不同厂商的多种模型</Text>
                    <br>
                    <Text>
                        ● 支持ollama支持的gguf模型类型离线运行
                    </Text>
                    <br>
                    <Text>
                        ● 支持llamafactory所支持的模型，包括baichuan、gemma、yuan、yi等
                    </Text>
                    <br>
                    <Text>
                        ● 未来将实现模型的训练、微调、部署一站式服务
                    </Text>
                    <br>
                </Body>
            </Card>
        </SpaceItem>
        <SpaceItem>
            <Card Bordered="true" Title=@("🔗国产信创") Hoverable="true" Style="height:260px;width:300px">
                <Body>
                    <Text>● 支持国产本地化模型</Text>
                    <br>
                    <Text>
                        ● 支持国产信创数据库
                    </Text>
                    <br>
                    <Text>
                        ● 支持信创环境运行
                    </Text>
                    <br>
                </Body>
            </Card>
        </SpaceItem>
        <SpaceItem>
            <Card Bordered="true" Title=@("✨技术支持") Hoverable="true" Style="height:260px;width:300px">
                <Body>
                    <Text>● 商业版享有专业的技术支持（1对1）</Text>
                    <br>
                    <Text>
                        ● 提供技术指导、方案设计、技术对接等服务
                    </Text>
                    <br>
                    <Text>
                        ● 提供培训服务
                    </Text>
                    <br>
                </Body>
            </Card>
        </SpaceItem>
    </Space>
 </GridContent>

