@namespace AntSK.Pages
@page "/"
@using AntSK.Services.Auth
@using AntSK.Components
@inherits AuthComponentBase

<GridContent>
    <Row Type="flex" Gutter="24">
        <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
            <div @onclick="NavToApp" style=" cursor: pointer;">
                <ChartCard Title="应用数量"
                           Total="@appCount"
                           Icon="wechat"
                           ContentHeight="46">
                    <ChildContent>
                        <Tag Color="@PresetColor.Yellow.ToString()">会话应用：@chatAppCount</Tag>
                            <Tag Color="@PresetColor.Green.ToString()">知识库应用：@kmsAppCount</Tag>
                        </ChildContent>
                        <Footer>
                        </Footer>
                    </ChartCard>
                </div>
            </AntDesign.Col>
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <div @onclick="NavToKms" style=" cursor: pointer;">
                    <ChartCard Title="知识库数量"
                               Total="@kmsCount"
                               Icon="database"
                               ContentHeight="46">
                        <ChildContent>

                        </ChildContent>
                        <Footer>
                        </Footer>
                    </ChartCard>
                </div>
            </AntDesign.Col>
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <div @onclick="NavToKms" style=" cursor: pointer;">
                    <ChartCard Title="文档数量"
                               Total="@filesCount"
                               Icon="file"
                               ContentHeight="46">
                        <ChildContent>
                            <Tag Color="@PresetColor.Yellow.ToString()">文档：@fileCount</Tag>
                            <Tag Color="@PresetColor.Green.ToString()">链接：@urlCount</Tag>
                            <Tag Color="@PresetColor.Orange.ToString()">文本：@textCount</Tag>
                        </ChildContent>
                        <Footer>
                        </Footer>
                    </ChartCard>
                </div>
            </AntDesign.Col>
            <AntDesign.Col Xs="24" Sm="12" Md="12" Lg="12" Xl="6" Style="margin-bottom: 24px;">
                <div @onclick="NavToAIModel" style=" cursor: pointer;">
                    <ChartCard Title="模型数量"
                               Total="@aiModelCount"
                               Icon="robot"
                               ContentHeight="46">
                        <ChildContent>
                            <Tag Color="@PresetColor.Yellow.ToString()">会话模型：@chatAIModelCount</Tag>
                            <Tag Color="@PresetColor.Green.ToString()">向量模型：@embeddingAIModelCount</Tag>
                        </ChildContent>
                        <Footer>
                        </Footer>
                    </ChartCard>
                </div>
            </AntDesign.Col>
        </Row>
        <Divider><Title Level="3">功能特性</Title></Divider>
        <Space Size=@(("10", "10" )) Wrap Align="start" Style="padding:10px">
         <SpaceItem>
             <Card Bordered="true" Title=@("🍬语义内核") Hoverable="true" Style="height:260px;width:300px">
                 <Body>
                     <Text>1、采用遥遥领先的自然语言处理技术</Text>
                     <br>
                     <Text>2、准确理解、处理和响应复杂的语义查询</Text>
                     <br>
                     <Text>3、为用户提供精确的信息检索和推荐服务</Text>
                     <br>
                 </Body>
             </Card>
         </SpaceItem>
         <SpaceItem>
             <Card Bordered="true" Title=@("🏁知识库") Hoverable="true" Style="height:260px;width:300px">
                 <Body>
                     <Text>1、通过文档（Word、PDF、Excel、Txt、Markdown、Json、PPT）等形式导入知识库</Text>
                     <br>
                     <Text>2、可以进行知识库文档搜索问答</Text>
                     <br>
                 </Body>
             </Card>
         </SpaceItem>
         <SpaceItem>
             <Card Bordered="true" Title=@("🌈GPTs 生成") Hoverable="true" Style="height:260px;width:300px">
                 <Body>
                     <Text>1、支持创建个性化的GPTs</Text>
                     <br>
                     <Text>2、构建您自己的GPTs</Text>
                     <br>
                     <Text>3、可以尽情发挥你的想象力</Text>
                     <br>
                 </Body>
             </Card>
         </SpaceItem>
         <SpaceItem>
             <Card Bordered="true" Title=@("🎁插件生态") Hoverable="true" Style="height:260px;width:300px">
                 <Body>
                     <Text>1、开放式API插件系统，允许第三方开发者或服务商轻松将其接口集成到AntSK，不断增强应用功能</Text>
                     <br>
                     <Text>2、开放式函数插件系统，标准格式的函数代码以及dll后集成到AntSK，不断增强应用功能</Text>
                     <br>
                     <Text>3、支持二次开发Function</Text>
                     <br>
                 </Body>
             </Card>
         </SpaceItem>
         <SpaceItem>
             <Card Bordered="true" Title=@("📱模型集成与管理") Hoverable="true" Style="height:260px;width:300px">
                 <Body>
                     <Text>1、适配和管理集成不同厂商的不同模型</Text>
                     <br>
                     <Text>
                         2、并且支持llama.cpp所支持的gguf类型的模型离线运行
                     </Text>
                     <br>
                    <Text>
                        3、支持llamafactory所支持的模型，包括baichuan、gemma、yuan、yi等
                    </Text>
                    <br>
                     <Text>
                         4、未来将实现模型的训练、微调、部署一站式服务
                     </Text>
                     <br>
                 </Body>
             </Card>
         </SpaceItem>
         <SpaceItem>
             <Card Bordered="true" Title=@("🔗国产信创") Hoverable="true" Style="height:260px;width:300px">
                 <Body>
                     <Text>1、支持国产本地化模型</Text>
                     <br>
                     <Text>
                         2、支持国产信创数据库
                     </Text>
                     <br>
                     <Text>
                         3、支持信创环境运行
                     </Text>
                     <br>
                 </Body>
             </Card>
         </SpaceItem>
         <SpaceItem>
            <Card Bordered="true" Title=@("❤项目最新进展") Hoverable="true" Style="height:260px;width:300px">
                 <Body>
                     <Image Height="170" Src="./assets/gzh.jpg" />
                 </Body>
             </Card>
         </SpaceItem>
         <SpaceItem>
             <Card Bordered="true" Title=@("🥤项目赞助") Hoverable="true" Style="height:260px;width:300px">
                 <Body>
                    <Image Width="110" Src="./assets/zfb.png" />
                    <Image Width="110" Src="./assets/wx.png" />
                 </Body>
             </Card>
         </SpaceItem>
     </Space>
 </GridContent>

